@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Tektur:wght@400..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
}
body{
    background-color: rgb(220, 213, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#container{
    background-color: transparent;
    width: 90rem;
    height:45rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}
#lado_esquerdo{
    border: 0.3rem solid rgb(80, 19, 19);
    background-color: rgb(193, 175, 131);
    width: 25rem;
    height: 10rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    
}
#lado_direito{
        overflow-y: auto;
    border: 0.6rem solid rgb(80, 19, 19);
    background-color: rgb(193, 175, 131);
    width: 30rem;
    height: 30rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);

}
#itens{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem

}
#tarefa{
    width: 12rem;
    height: 2rem;
    background-color: beige;
    border-radius: 18px;
    border: transparent;
}
#titulo{
    margin-top: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
#prioridade{
    border-radius: 5px;
    border: transparent;
    background-color: transparent;
   
}
#prioridade:focus{
    outline: none;
}
#enviar{
    width: auto;
    background-color: beige;
    border-radius: 10px;
    border: transparent;
}
input[type="datetime-local"]{
    background-color: beige;
    width: 9rem;
    border: transparent;
    border-radius: 10px;
}
#fundo-prioridade{
    width: auto;
    border-radius: 15px;
    background-color: beige;
}
#cima-esquerdo, #baixo-esquerdo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
h1{
    background-color: beige;

}
#tarefa_direito{

    margin-left: 3rem;
    margin-top: 2rem;
    
}
.bloco-tarefa{
    width: 23rem;
    margin-top: 2rem;
    height: 5rem;
    background-color: beige;
    border-radius: 4rem;
    padding: 3px;
}
.prioridade-direito{
    margin-left: 1rem;
}
.conteudo{
    font-size: large;
    font-weight: bold;
    margin-left: 2rem;
}
.apagar{
    float: right;
    margin-right: 2rem;
    background-color: transparent;
    border: none;
}
.data{
    margin-left: 2rem;
}